{% extends 'jobsdbApp/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="search-white-space search-bg"></div>
    <div class="container-fluid search-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="row align-items-center detail-konten">
                        <div class="col-md-12">
                            <div class="search-tgl-publikasi">
                                <p>{{lowongan.tanggal_publikasi}}</p>
                            </div>
                            <div class="lowongan-pict search-pict">
                                <img src="{{lowongan.link_image}}" alt="">
                            </div>
                            <div class="search-jabatan lowongan-jabatan">
                                <p><span>{{lowongan.jabatan}}</span></p>
                            </div>
                            <div class="search-perusahaan lowongan-jabatan">
                                <p>{{lowongan.perusahaan}}</p>
                            </div>
                            <div class="seacrh-lokasi lowongan-jabatan">
                                <p>{{lowongan.lokasi}}</p>
                            </div>
                            <div class="search-gaji lowongan-jabatan">
                                <p>Rp.{{lowongan.gaji_min}} - Rp.{{lowongan.gaji_max}}</p>
                            </div>
                            <div class="seacrh-lokasi lowongan-jabatan">
                                <p>Minimal Pengalaman : {{lowongan.pengalaman}} tahun</p>
                            </div>
                            <div class="search-deskripsi lowongan-deskripsi">
                                <p>{{lowongan.deskripsi|safe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="search-white-space search-bg"></div>
</body>
{% endblock %}